{{ template "Header"}}
<div class="container top-container">
  <div class="row justify-content-center">
    <h1>Welcome to the simplest quizzing site!</h1>
  </div>
  <div class="row justify-content-center">
    <a href="/initiate" class="mybtn">Host quiz</a>
    <a href="/join" class="mybtn">Join quiz</a>
  </div>
  <div class="row justify-content-center">
  <a href="/addquiz" class="mybtn" id="add-quiz-btn">Create quiz</a>
  </div>
  
</div>

{{ template "Footer"}}
