{{ template "Header"}}

<p>{{.options}}</p>

<p>{{.type}}</p>

<form action="/participantroutine" method="POST">
<input type="hidden" id="player-name" name="playerSlug" value="{{.playerSlug}}">
<input type="hidden" id="quiz-code" name="quizCode" value="{{.quizSlug}}">
<input type="hidden" id="quiz-stage" name="stage" value="{{.stage}}">
<input type="hidden" id="quiz-id" value="{{.quizId}}">

<input type="submit" value="Next question" id="next-question-btn">
</form>


{{ template "Footer"}}