{{ template "Header"}}
<h1>Welcome to the simplest quizzing website!</h1>
<div class="container-fluid">
  <a href="/initiate" class="btn btn-primary" tabindex="-1" role="button">Host quiz</a>
  <a href="/join" class="btn btn-secondary" tabindex="-1" role="button">Join quiz</a>
</div>
{{ template "Footer"}}
