{{ template "Header"}}

<h1 id="quiz-slug">{{.quizCode}}</h1>
<h5 id="player-slug">{{.playerSlug}}</h5>

<ul id="player-list"></ul>

<script src="static/waitingroom.js"></script>

{{ template "Footer"}}