{{ template "Header"}}

<div class="container">
    <select class="form-select">
        <option selected>Select a Quiz Subject</option>
        {{range .subjects}}
        <option value="{{.ID}}">{{.Name}}</option>
        {{end}}
    </select>
</div>

{{ template "Footer"}}

